@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Monserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Monserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Monserrat/Montserrat-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Monserrat/Montserrat-Light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-Regular.ttf');
    font-weight: 400;
}

:root {
    --primary: #552084;
}

body {
    font-family: Montserrat;
}

.block_content {
    max-width: 1440px;
    padding: 150px;
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper h1 {
    color: black !important;
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper h2 {
    color: black !important;
}

h2 {
    color: var(--primary);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

h3 {
    margin-top: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.04px;
}

.orange_button {
    color: var(--primary);
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
    border-radius: 5px;
    background: #FDBA21;
    padding: 15px 30px;
}

.purple_button {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.44px;
    border-radius: 5px;
    background: var(--primary);
    padding: 15px 30px;
}

.orange_button:hover,
.purple_button:hover,
.button_hover:hover {
    transform: translateY(3px) scale(1.01);
}


.blur_custom::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: var(--primary);
    opacity: 0.6;
    filter: blur(40px);
    top: -30px;
    left: -81px;
    z-index: 4;
}

.blur_custom_right::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 200px;
    height: 97px;
    background: var(--primary);
    opacity: 0.6;
    filter: blur(40px);
    bottom: -50px;
    right: 0px;
    z-index: 4;
}


.slick-list.full-h {
    height: 1024px;
}

.slick-list.medium-h {
    height: 524px;
}

.direction.lg\:flex-row-reverse {
    flex-direction: row-reverse;
}

.direction.lg\:flex-row {
    flex-direction: row;
}

.white h2 {
    color: white;
}

#menu-header-menu {
    display: flex;
    gap: 40px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.36px;

}

.coming-soon {
    position: relative;
}

.coming-soon a {
    color: #ffffff99 !important;
}

.coming-soon::before {
    content: "Coming Soon";
    color: #ffffff99;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.12px;
    padding: 4px 2px;
    background-color: #ffffff45;
    position: absolute;
    top: -30px;
    left: 0px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
}

#menu-footer {
    color: #ffffff99;

}


#menu-footer li {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;

}

#menu-footer .email {
    color: #FFF;
}


/* hamburguer menu */

.menu-mobile-container.active {
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -600px;
    top: 38px;
    opacity: 0;
    display: block;
    transition: all 0.8s ease-in;
}


#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 25px;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /*top: -3px;
    left: 8px;*/
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
}

#menu-header-menu-1 li {
    margin-bottom: 50px;
}

#menu-header-menu-1 li a {
    color: #FFF;
}

sub,
sup {
    font-size: 60%;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    #menu-header-menu {
        gap: 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1150px) {
    .block_content {
        padding: 150px 100px;
    }
}

@media screen and (max-width: 1023px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    .block_content {
        padding: 70px 30px;
    }

    .slick-list.full-h {
        height: 700px;
    }

    .slick-list.medium-h {
        height: 350px;
    }

    .orange_button {
        font-size: 18px;

    }

    .purple_button {
        font-size: 18px;

    }

    .coming-soon::before {
        font-size: 6px;
        padding: 4px 2px;
        top: -20px;
        width: 50px;

    }

    #menu-footer {
        text-align: center;
    }

    /* Contact Form */
    #contact_form form {
        width: 100% !important;
        padding: 30px !important;
    }

    #gform_confirmation_message_1 {
        width: 100 !important ;
    }

    #gform_confirmation_message_1 h2 {
        font-size: 25px !important;
    }

}

.slick-slide {
    position: relative;
}

/*.slick-slide::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.8;
}*/


/* form */

#gform_confirmation_message_1 {
    margin: auto;
    background: #F4F4F4;
    width: 600px;
    padding: 50px;
}

#gform_confirmation_message_1 h2{
    font-size: 30px;
    font-weight: 600;
}

.registration-form .gform_wrapper .gform_fields .gfield.total-price input {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #552084;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}


.registration-form-wrap {
    padding: 150px 15px;
}

.registration-form .gform_wrapper .gform_heading {
    display: none;
}

.registration-form .gform_wrapper .gform_fields {
    grid-column-gap: 39px;
    grid-row-gap: 39px;
}

.registration-form .gform_wrapper .gform_fields .gfield .gfield_label,
.registration-form .gform_wrapper .gform_fields .gfield .gfield_label+.gfield_description,
.registration-form .gform-field-label {
    font-size: 16px !important;
    line-height: 1.5 !important;
    margin: 0 0 6px !important;
    color: #552084 !important;
    font-weight: 400 !important;
}

.registration-form .gform_wrapper .gform_fields .gfield .gfield_label span.gfield_required {
    display: none;
}

.registration-form .gform_wrapper .gform_fields .gfield input[type="text"],
.registration-form .gform_wrapper .gform_fields .gfield input[type="email"],
.registration-form .gform_wrapper .gform_fields .gfield input[type="tel"],
.registration-form .gform_wrapper .gform_fields .gfield input[type="number"],
.registration-form .gform_wrapper .gform_fields .gfield select,
.registration-form .gform_wrapper .gform_fields .gfield textarea {
    font-size: 14px;
    line-height: 1.71;
    border-radius: 8px;
    border: 1px solid #D9D0DD;
    background-color: #FFF;
    padding: 10px 14px;
    height: 44px;
    color: rgb(85 32 132 / 60%);
    outline: none !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}

.registration-form .gform_wrapper .gform_fields .gfield input[type="text"]::placeholder,
.registration-form .gform_wrapper .gform_fields .gfield input[type="email"]::placeholder,
.registration-form .gform_wrapper .gform_fields .gfield input[type="tel"]::placeholder,
.registration-form .gform_wrapper .gform_fields .gfield select::placeholder,
.registration-form .gform_wrapper .gform_fields .gfield textarea::placeholder {
    color: rgb(85 32 132 / 60%);
}

.registration-form .gform_wrapper .gform_fields .gfield textarea {
    height: 157px;
    min-block-size: unset !important;
}

.registration-form .gform_wrapper .gform_fields .gfield select {
    background-image: url(https://oc.alkali.cloud/wp-content/uploads/2023/10/select-arrow.svg);
    background-size: 11px;
    background-position: calc(100% - 14px) 50%;
    background-repeat: no-repeat;
}

div.registration-form .gform_wrapper .gform_page_footer input {
    width: 100% !important;
    display: inline-block !important;
    max-width: 100% !important;
    border-radius: 8px !important;
    border: none !important;
    color: #FFF !important;
    background: #552084 !important;
    padding: 15px !important;
    height: 52px !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 1.22 !important;
    letter-spacing: -0.36px !important;
    transition: all ease .3s !important;
    outline: none !important;
    box-shadow: none !important;
}

div.registration-form .gform_wrapper .gform_page_footer input:hover {
    background: #FDBA21 !important;
    color: #552084 !important;
}

.registration-form .gform_wrapper .gform_page_footer {
    margin: 79px 0 0;
    position: relative;
}

.registration-form .gform_wrapper .gform_page_footer .gform-loader {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 9;
}

.registration-form .gform_wrapper .gform_validation_errors {
    display: none;
}

.registration-form .gform_wrapper .gfield_validation_message,
.registration-form .gform_wrapper .instruction.validation_message {
    color: red;
    font-size: 13px;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice label {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    color: #552084;
    font-family: Inter;
    margin-left: 8px;
}


.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice {
    display: inline-flex;
    align-items: center;
    min-height: 44px;
    cursor: pointer;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 41px;
    min-height: 44px;
    max-width: 550px;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice input {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #7F56D9;
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    position: relative;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice input::before {
    background: #7F56D9 !important;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice input:checked {
    background: #F4EBFF;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice input {
    margin-right: 10px;
    margin-top: -5px;
}

.registration-form .gform_wrapper .gform_fields .gfield.gfield--type-date .gform-grid-row {
    margin: 0 -3px;
    width: auto;
    flex-flow: row;
}

.registration-form .gform_wrapper .gform_fields .gfield.gfield--type-date .gform-grid-row .ginput_container_date {
    padding: 0 3px;
    width: 89px;
}

.registration-form .gform_wrapper .gform_fields .gfield.gfield--type-date .gform-grid-row .gfield_date_dropdown_day {
    width: 72px;
}

.registration-form .gform_wrapper .gform_fields .gfield.title-box p {
    margin: 39px 0 0;
    font-size: 16px;
    line-height: 1.5;
    color: #552084;
    font-weight: 400;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent label {
    font-size: 16px;
    line-height: 1.5;
    color: #552084;
    font-weight: 400;
    margin-left: 12px;
    width: calc(100% - 32px);
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent input {
    border-radius: 6px;
    border: 1px solid #D9D0DD;
    background: #FFF;
    box-shadow: none !important;
    outline: none !important;
    margin: 2px 10px 0 0;
    width: 20px;
    height: 20px;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent {
    cursor: pointer;
    display: flex !important;
    flex-wrap: wrap;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent input::before {
    color: #552084 !important;
}

.registration-form .gform_wrapper #gform_page_1_7 .gform_page_footer,
.registration-form .gform_wrapper #gform_page_1_8 .gform_page_footer {
    margin: 20px 0 0;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent label .gfield_required {
    display: none;
}

.registration-form .gform_wrapper .gform_fields .gfield .ginput_container_consent label a {
    text-decoration-line: underline;
}

.registration-form .gform_wrapper .gform_confirmation_message {
    color: green;
    text-align: center;
    background: rgb(0 128 0 / 7%);
    padding: 40px 20px;
    border-radius: 9px;
}

.registration-form .gform_wrapper .gform_page {
    display: block !important;
}

.registration-form .gform_wrapper .gform_page {
    border-radius: 10px;
    background: #F4F4F4;
    padding: 80px;
    max-width: 777px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.registration-form .gform_wrapper .gform_page:last-child {
    margin-bottom: 0;
}

.registration-form .gform_wrapper .gform_page_footer .gform_previous_button {
    display: none !important;
}

.registration-form .gform_wrapper .gf_page_steps {
    display: none;
}

.registration-form .gform_wrapper .gform_fields .gfield.total-price input {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #552084;
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field {
    display: flex;
    align-items: center;
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field label {
    margin: 0;
    gap: 0;
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field input {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    color: #552084;
    font-weight: 600;
    margin-left: 10px;
    height: auto !important;
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field .ginput_product_price_wrapper label {
    display: none;
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field label::after {
    content: ':';
}

.registration-form .gform_wrapper .gform_fields .gfield.price-field.shorts-price {
    margin-bottom: -39px;
}

.registration-form .gform_wrapper .partial_entry_warning {
    display: none;
}

.registration-form .gform_wrapper .gform_fields .gfield.title-box h2 {
    line-height: 1.2;
}


.registration-form #gform_fields_1_7 {
    grid-row-gap: 10px;
}

.registration-form #gform_fields_1_7 h2 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
    .registration-form-wrap {
        padding: 100px 15px;
    }

    .registration-form .gform_wrapper .gform_page {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 991px) {
    .registration-form-wrap {
        padding: 70px 15px;
    }

    .registration-form .gform_wrapper .gform_page {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .registration-form-wrap {
        padding: 55px 15px;
    }

    .registration-form .gform_wrapper .gform_page {
        margin-bottom: 40px;
    }

    .registration-form .gform_wrapper .gform_page {
        padding: 40px 20px;
    }

    .registration-form .gform_wrapper .gform_fields {
        grid-template-columns: unset;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .registration-form .gform_wrapper .gform_fields .gfield.title-box p {
        margin: 10px 0 0;
    }

    .registration-form .gform_wrapper .gform_fields .gfield.title-box h2 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 340px) {
    .registration-form .gform_wrapper .gform_fields .gfield .ginput_container_radio .gfield_radio .gchoice {
        width: 100%;
    }

    .registration-form .gform_wrapper .gform_fields .gfield.price-field {
        flex-wrap: wrap;
    }
}

/* Contact Form */
#contact_form form {
    width: 780px;
    background-color: white;
    border-radius: 10px;
    padding: 80px;
}

#contact_form input[type="submit"] {
    width: 100% !important;
    color: white !important;
    background-color: var(--primary) !important;
    border-radius: 8px !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    margin-top: 50px !important;
}

.p-Input input {
    font-size: 14px;
    line-height: 1.71;
    border-radius: 8px;
    border: 1px solid #D9D0DD;
    background-color: #FFF;
    padding: 10px 14px;
    color: #552084;
    outline: none !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05)
}


/* terms & condition */

#blog_content h2 {
    font-size: 36px !important;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--primary);
    position: relative;
    z-index: 50;
}

#blog_content h3 {
    font-size: 30px !important;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--primary);
    position: relative;
    z-index: 50;
}

#blog_content h4 {
    font-size: 25px !important;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--primary);
    position: relative;
    z-index: 50;
}


#blog_content p,
#blog_content ul li {
    color: #55208499;
    margin: 20px 0px;
    width: 100%;
    font-size: 16px !important;
}

#blog_content ul {
    list-style: disc;
    margin-left: 25px;
}